img {
    width: 20rem;
    height: 20rem;
}

.prod-container {
    text-align: center;
    display: inline-block;
    border: 1px solid rgba(235, 212, 11, 0.76);
    padding: 2rem;
    margin: 2rem;
}